*.zip
*.DS_Store


# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# Compiled code -> no need for those .o files
*.o
*.pyc
*.class

# Runtime files
*.log
*.lock
*.tmp

# Build folders
build/*
!build/build.xml

# OpenCV library - there's no need to commit so much information online
# Add additional versions as neededs
opencv-4.x/*